# PostgreSQL Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=password

# Application Settings
SERVER_PORT=8081

# PgAdmin Credentials
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=password
